@font-face {
    font-family: arcadeClassic;
    src: url(font/arcadeclassic.regular.ttf);
}

body {
    font-family: arcadeClassic;
    color: white;
    background-color: black;
    text-align: center;

}

template {
    display: none;
}

main {
    justify-content: space-around;
}

.imgContainer {
    height: 350px;
}

.card {
    background-color: rgb(19, 19, 19);
    color: white;
}

img {
    height: 350px;
    object-fit: cover;
}

h1 {
    font-size: 5rem;
    color:white;
}

a {
    color:white;
    text-decoration: none;
}

